@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInleft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideOutRight {
  to {
    transform: translateX(100%);
  }
}

.post.enter {
  animation: slideInRight 0.2s both ease-in;
  z-index: 8888;
}

.leave {
  animation: slideOutLeft 0.2s both ease-in;
  z-index: 9999;
}

.post.leave {
  animation: slideOutRight 0.2s both ease-in;
  z-index: 9999;
}

.blog.enter {
  animation: slideInleft 0.2s both ease-in;
  z-index: 8888;
}
