.posttitle {
  font-weight: 800;
  font-size: 35px;
  margin: 0;
  color: $blue;
}

.postdate {
  font-weight: 800;
  font-size: 25px;
  margin: 0;
  color: $green;
}

.post {
  margin-bottom: 60px;
}

#disqus_thread {
  margin-top: 35px;
}


.token.operator {
  background: none !important;
}
