.down {
  background-position: -27px 0;
  background-repeat: no-repeat;
  width: 77px;
  height: 77px;
  position: relative;
  float: right;
  cursor: pointer;
}

.cv {
  font-size: 22px;
}

.arrows {
  margin-top: 30px;
  li {
    margin-bottom: 15px;

    .fa {
      color: $black;
      top: 0.22em;
    }
  }
}

.latest {
  .excerpt {
    a {
      color: $white;
      &:hover {
        color: $brown;
      }
    }
  }
}
