.social-icons {
  .fa {
    margin-right: 5px;
    color: $black;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    &:hover {
      color: $white;
    }
  }
}

.home {
  .social-icons {
    padding-top: 25px;
  }
}

.blog {
  .social-icons {
    padding-top: 10px;
    .fa {
      &:hover {
        color: $black;
      }
    }
  }
}
