@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework";
@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";
@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix";
@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes";
@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/center-block";
@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/hide-text";
@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/responsive-visibility";
@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

.sprite {
  background: url(../img/sprite.png);
}

@import "vars";
@import "animations";
@import "blog";
@import "header";
@import "home";
@import "social";
@import "highlight";

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

* {
  @include box-sizing(border-box);
}

*:before,
*:after {
  @include box-sizing(border-box);
}

html {
  background-color: $white;
}

html, button, input, select, textarea {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  color: $white;
}

a {
  color: $brown;
  text-decoration: none;

  &:hover {
    color: $white;
    outline: 0;
  }

  &:focus {
    outline: thin dotted;
  }

  &:active {
    outline: 0;
  }
}

ul {
  list-style-type: none;
  margin-bottom: 30px;
  margin: 0;
  padding: 0 0 0 40px;
}

li a {
  color: $white;

  &:hover {
    color: $brown;
  }
}

h2 {
  font-weight: 800;
  font-size: 45px;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-weight: 800;
  font-size: 35px;
  margin: 0;
  color: $brown;
}

h4 {
  font-weight: 800;
  font-size: 25px;
  margin: 0;
  color: $brown;
}

footer {
  font-size: 0.8em;
  padding: 4px;
  text-align: center;

  a {
    color: $white;
  }
}

.main {
  min-height: 700px;
}

.brown {
  background-color: $brown;
}

.blue {
  background-color: $blue;
}

.red {
  background-color: $red;
}

.green {
  background-color: $green;}

.white {
  background-color: $white;
  color: $black;
  a {
    color: $red;
    &:hover {
      color: $brown !important;
    }
  }
}

.copy {
  min-height: 500px;
  padding-top: 80px;
  padding-bottom: 50px;

  p {
    padding-right: 25px;
    padding-top: 10px;
  }
}

.bold {
  color: $brown;
  font-weight: 800;

  a {
    color: $brown;

    &:hover {
      color: $white;
    }
  }
}
