<header class="brown wide">
  <div class="container">
    <div class="row">
      <div class="col-md-10"><a [routerLink]="['/']" title="HOME"><h1 class="logo sprite">3sq.re</h1></a></div>
      <div class="col-md-2">
        <div class="menu">
          <div class="item jslink blue"><a class="about" pageScroll [routerLink]="['/']" href="#about">ABOUT</a></div>
          <div class="item jslink red"><a class="github" pageScroll [routerLink]="['/']" href="#github">GITHUB</a></div>
          <div class="item jslink green"><a class="projects" pageScroll [routerLink]="['/']" href="#projects">PROJECTS</a></div>
          <div class="item white"><a class="white" [routerLink]="['/blog']">BLOG</a></div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="main">
  <router-outlet></router-outlet>
</div>
<footer class="brown wide">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">All content copyright Ben Speakman {{ date | date:'y' }} | <a href="https://github.com/threesquared/3sq.re" target="_blank">View the source on Github</a></div>
    </div>
  </div>
</footer>
