<div class="blue wide home" id="about">
    <div class="container copy" itemscope itemtype="http://schema.org/Person">

        <div class="row">
            <div class="col-md-8">
                <h2>About</h2>
            </div>
            <div class="col-md-4 social-icons">
                <a href="http://github.com/threesquared" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
                <a href="http://uk.linkedin.com/in/bspeakman" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                <a href="http://www.facebook.com/threesquared" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                <a href="http://plus.google.com/100677874425809764943?rel=author" target="_blank" rel="author"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <p>I am a software developer with a passion for effective and efficient code and an interest in DevOps. Some of the things I like to work with are:</p>
                <ul class="fa-ul arrows">
                    <li><i class="fa-li fa fa-arrow-right"></i>PHP frameworks like Laravel and Symfony</li>
                    <li><i class="fa-li fa fa-arrow-right"></i>Configuration management tools including Chef and Puppet</li>
                    <li><i class="fa-li fa fa-arrow-right"></i>Modern JavaScript like ES6 and TypeScript</li>
                    <li><i class="fa-li fa fa-arrow-right"></i>Scalable cloud architecture on AWS and Rackspace Cloud</li>
                </ul>
            </div>
            <div class="col-md-4 ">
                <div class="row hidden-sm hidden-xs">
                    <div class="col-md-4 bold"><p>Name:<br> Age:<br> Location:</p></div>
                    <div class="col-md-8"><p><span itemprop="name">Ben Speakman</span><br>{{ age }} <br> London</p></div>
                </div>
                <p class="bold cv"><a href="https://github.com/threesquared/cv" target="_blank">VIEW MY CV</a></p>
            </div>

        </div>

        <div class="down sprite"></div>

    </div>
</div>

<div class="red wide home" id="github">
    <div class="container copy">

        <div class="col-md-12">
            <h2 id="lol">Github</h2>
            <p>Some of the repositories I contribute to on GitHub.</p>
        </div>

        <div class="col-md-6">
            <ul class="fa-ul arrows">
                <li *ngFor="#repository of repositories">
                    <i class="fa-li fa fa-arrow-right"></i><a href="{{ repository.url }}" target="_blank">{{ repository.name }}</a><br /><small>{{ repository.description }}</small>
                </li>
            </ul>
        </div>

        <div class="col-md-6">
            <ul class="fa-ul arrows">
                <li *ngFor="#pullRequest of pullRequests">
                    <i class="fa-li fa fa-arrow-right"></i>
                    <a href="{{ pullRequest.url }}" target="_blank">{{ pullRequest.title }}</a><br />
                    <small>{{ pullRequest.vendor }}/{{ pullRequest.package }}</small>
                </li>
            </ul>
        </div>

        <div class="down sprite"></div>

    </div>
</div>

<div class="green wide home" id="projects">
    <div class="container copy">

        <div class="row">
            <div class="col-md-12">
                <h2>Projects</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <p>Read about some of the projects I have been involved in.</p>
                <ul class="fa-ul arrows">
                    <li *ngFor="#project of projects">
                        <i class="fa-li fa fa-arrow-right"></i><a [routerLink]="['/blog/', project.getYear(), project.getMonth(), project.slug]">{{ project.title }}</a>
                    </li>
                </ul>

            </div>

            <div class="col-md-7 latest" *ngIf="latest">
                <h4>{{ latest.title }}</h4>
                <div class="excerpt" [innerHtml]="latest.getExcerpt()"></div>
                <p class="bold"><a [routerLink]="['/blog/', latest.getYear(), latest.getMonth(), latest.slug]">Click here to read more <i class="fa fa-arrow-right"></i></a></p>
            </div>
        </div>

        <div class="down sprite"></div>

    </div>
</div>
