<div class="white wide post" [ngClass]="{enter: enter, leave: leave}" *ngIf="post">
	<div class="container copy">
		<div itemscope="" itemtype="http://schema.org/BlogPosting">
			<div class="posttitle" itemprop="name">
				<a [routerLink]="['/blog']">Blog</a> » <a>{{ post.title }}</a>
			</div>
			<div class="postdate">Posted on {{ post.date | date:'yMMMMd' }} by <span itemprop="author">{{ post.author }}</span></div>
			<div class="postcontent" itemprop="articleBody" [innerHTML]="post.content"></div>
		</div>

	</div>
</div>
