<!doctype html>
<html lang="en">
  <head>
    <base href="/">
    <title>3sq.re - Ben Speakman</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="fragment" content="!">
    <link rel="icon" href="<%- assetUrl('/assets/favicon.ico'); %>">

    <meta name="author" content="Ben Speakman">
    <meta name="robots" content="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="YunYlOEYNwTWv0u7EbKDaqtzR7Mu2E2oQJ8iSEJnjSQ">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="3sq.re">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:domain" content="3sq.re">

    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href="<%- assetUrl('/assets/css/style.css'); %>" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-152753-1', 'auto');
    </script>
  </head>
  <body>
    <app>Loading...</app>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
    <script src="<%- assetUrl('/index.js'); %>"></script>
  </body>
</html>
