<div class="white wide blog" [ngClass]="{enter: enter, leave: leave}">
    <div class="container copy">

    	<div class="col-md-3 hidden-sm hidden-xs">
    		<h2>BLOG</h2>
    		<div class="social-icons">
	    		<a href="http://github.com/threesquared" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
	            <a href="http://uk.linkedin.com/in/bspeakman" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
	            <a href="http://www.facebook.com/threesquared" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
	            <a href="http://plus.google.com/100677874425809764943?rel=author" target="_blank" rel="author"><i class="fa fa-google-plus-square fa-2x"></i></a>
	         </div>
    	</div>

		<div *ngIf="posts.length > 0" class="col-md-9">

			<article *ngFor="#post of posts" id="post-{{ post.id }}" class="post">
				<h2 class="posttitle">
					<a [routerLink]="['Post', {year: post.date.getFullYear(), month: post.date.getMonth(), slug: post.slug}]">{{ post.title }}</a>
				</h2>
				<div class="postdate">Posted on {{ post.date | date:'yMMMMd' }} by {{ post.author }}</div>
				<div class="entry-content" [innerHtml]="post.getExcerpt()"></div>
				<p><a [routerLink]="['Post', {year: post.date.getFullYear(), month: post.date.getMonth(), slug: post.slug}]">Click here to read more <i class="fa fa-arrow-right"></i></a></p>
			</article>

			<div class="nav-next pull-right"><a [routerLink]="['Blog', {page: page + 1}]">Older posts <i class="fa fa-angle-double-right"></i></a></div>

		</div>

		<div *ngIf="posts.length == 0" class="col-md-8">
			<p>No more posts.</p>
		</div>

    </div>
</div>
