<div class="white wide post" [ngClass]="{enter: enter, leave: leave}">
	<div class="container copy">
		<div itemscope="" itemtype="http://schema.org/BlogPosting">
			<div class="posttitle" itemprop="name">
				<a [routerLink]="['Blog']">Blog</a> » <a>{{ post.title }}</a>
			</div>
			<div class="postdate">Posted on {{ post.date | date:'yMMMMd' }} by <span itemprop="author">{{ post.author }}</span></div>
			<div class="postcontent" itemprop="articleBody">
				<div #content></div>
			</div>
		</div>
		<disqus [shortname]="'threesquared'" [identifier]="post.id"></disqus>
	</div>
</div>
